{% extends "diabetes_app/base.html" %}
{% load bootstrap4 %}

{% block header %}
<a class="nav-link" href="{% url 'index' %}">Home</a>
<a class="nav-link" href="{% url 'info' %}">Info</a>
<a class="nav-link" href="{% url 'tracker:index' %}">Tracker</a>
<a class="nav-link active" href="{% url 'data:index' %}">Data</a>
{% if user %}
    <a class="nav-link" href="{% url 'users:logout' %}">Log Out</a>
{% else %}
    <a class="nav-link" href="{% url 'users:login' %}">Log In</a>
{% endif %}
{% endblock %}
