{% extends "data/base.html" %}
{% load bootstrap4 %}

{% block content %}
<main role="main" class="container">
    <div class="my-3 p-3 bg-white rounded box-shadow">
        <div class="media text-muted pt-3">
            <table>
            {{ entries | safe }}
            </table>
        </div>
    </div>
</main>
<main role="main" class="container">
    <div class="my-3 p-3 bg-white rounded box-shadow">
        <div class="media text-muted pt-3">
            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <table class="table table-sm table-striped">
                    <thead>
                        <tr>
                            <th style="width: 12.5%">Timestamp</th>
                            <th style="width: 12.5%">GlucoseValue</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for entry in entries %}
                        <tr>
                            <td>{{ entry.Timestamp }}</td>
                            <td>{{ entry.GlucoseValue }}</td>
                        </tr>
                        {% empty %} There are no entries for this topic yet. {% endfor %}
                    </tbody>
                </table>
            </p>
        </div>
    </div>
</main>
{% endblock content %}