{% extends "data/base.html" %}
{% load bootstrap4 %}

{% block content %}
<div role="main" class="container">
    <div class="container">
        <h2>Filtered test import</h2>
        <p>Top 5 rows of CGMS import</p>
    </div>
    <div class="container">
        <p>
            <a href="{% url 'data:cgms_data' %}">CGMS Data</a>
        </p>
    </div>
    <div class="container">
        <p class="lead">
            <a href="{% url 'data:upload' %}" class="btn btn-md btn-primary">Upload</a>
        </p>
    </div>
    <div class="container">
        <table>
            {{ ds1 | safe }}
        </table>
    </div>
    <div class="container" style="padding-top:30px">
        <form action="{% url 'data:index' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {# bootstrap_form form #}

            {% buttons %}
            <button class="btn btn-primary" type="submit">View full table</button>
            {% endbuttons %}
        </form>
    </div>
</div>
{% endblock %}