{% extends "tracker/base.html" %}
{% load bootstrap4 %}

{% block header %}
<div class="container" style="margin-top:30px">
    <h2>{{ topic }}</h2>
</div>
{% endblock %}

{% block content %}
<div class="container" style="margin-top:30px">

    <p>
        <a href="{% url 'tracker:new_entry' topic.id %}">add new entry</a>
    </p>

    {% for entry in entries %}
    <div class="media text-muted pt-3">
        <img data-src="holder.js/32x32?theme=thumb&bg=007bff&fg=007bff&size=1" alt="" class="mr-2 rounded">
        <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <strong class="d-block text-gray-dark">{{ entry.date_added|date:'M d, Y H:i' }}</strong>
            <a href="{% url 'tracker:topic' topic.id %}">Blood Sugar: {{ entry.blood_sugar }}</a>
        </p>
        <small>
            <a href="{% url 'tracker:edit_entry' entry.id %}">edit</a>
        </small>
    </div>

    <!-- panel -->
    {% empty %}
      There are no entries for this topic yet.
    {% endfor %}
</div>
{% endblock content %}