{% extends "diabetes_app/base.html" %}
{% load bootstrap4 %}

{% block header %}
<a class="nav-link" href="{% url 'index' %}">Home</a>
<a class="nav-link" href="{% url 'info' %}">Info</a>
<a class="nav-link active" href="{% url 'tracker:index' %}">Tracker</a>
{% endblock %}

{% block content %}
<div class="container text-center" style="margin-top:30px">
    <h2>Registration Page</h2>
</div>
<div class="container text-center mb-4" style="margin-top:30px;max-width: 420px">
    <form method="post" action="{% url 'users:register' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button name="submit" class="btn btn-lg btn-primary" style="background-color: #4CAF50">Register</button>
        <input type="hidden" name="next" value="{% url 'tracker:index' %}" />
    </form>
</div>
<br>
{% endblock content %}