{% load bootstrap4 %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/static/tracker/images/diabetes.ico">
    <title>Diabetes Tracking app</title>

    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="/static/tracker/css/cover.css" />
    <link rel="stylesheet" href="/static/tracker/css/style.css" />
    <link rel="stylesheet" href="/static/tracker/css/offcanvas.css" />
    <link rel="stylesheet" href="/static/tracker/css/infoparallax.css">
</head>

<body class="text-center">

    <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>

    <div class="container d-flex h-100 p-3 mx-auto flex-column">
        <header class="masthead mb-auto">
            <div class="inner">
                <nav class="nav nav-masthead justify-content-center">
                    {% block header %}
                    {% endblock %}
                </nav>
            </div>
        </header>
        {% block trackerheader %}
        {% endblock %}

        {% block content %}
        {% endblock %}

        <footer class="mastfoot mt-auto">
            {% block footer %}
            {% endblock %}
        </footer>
    </div>
    <script src="/static/tracker/js/holder.min.js"></script>
    <script src="/static/tracker/js/jscompare.js"></script>
    <script src="/static/tracker/js/offcanvas.js"></script>
</body>

</html>