{% extends "diabetes_app/base.html" %} 
{% load bootstrap4 %} 

{% block header %}
<a class="nav-link" href="{% url 'index' %}">Home</a>
<a class="nav-link active" href="{% url 'info' %}">Info</a>
<a class="nav-link" href="{% url 'tracker:index' %}">Tracker</a>
{% endblock %}

{% block content %}
<main role="main" class="inner cover">
    <div class="bgimg-1">
        <div class="caption">
            <span class="border">Diabetes tracking app</span>
        </div>
    </div>

    <div style="color: #777;background-color:white;text-align:center;padding:50px 80px;text-align: justify;">
        <h3 style="text-align:center;">Logbook</h3>
        <p>Tracking important stats in central place. Analyse trends, export data</p>
    </div>

    <div class="bgimg-2">
        <div class="caption">
            <span class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;">Track events</span>
        </div>
    </div>

    <div style="position:relative;">
        <div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;">
            <p>Future phases will show trends, import CGMS, export data to csv & pdf</p>
        </div>
    </div>

    <div class="bgimg-3">
        <div class="caption">
            <span class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;">See trends</span>
        </div>
    </div>

    <div style="position:relative;">
        <div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;">
            <p>Use django, pandas, bootstrap</p>
        </div>
    </div>

    <div class="bgimg-1">
        <div class="caption">
            <span class="border">Do it your way</span>
        </div>
    </div>
</main>
{% endblock %}

{% block footer %}
<div class="inner">
    <p>Tracking app built using Django and <a href="https://getbootstrap.com/">Bootstrap</a>, by <a href="https://github.com/itsbillw">@itsbillw</a>.</p>
</div>
{% endblock %}